<nav class="navbar fixed-top navbar-expand-lg navbar-dark shadow" style="background-color: rgb(207, 92, 128);" >
  <div class="container-fluid d-flex justify-content-between align-items-center w-auto">
    
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/LOGO-Nameplate.png" alt="Logo" height="50" style="padding-right: 100px;"/>
    </a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Nav -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex flex-wrap flex-lg-row justify-content-center gap-3 text-center w-100">
        <li class="nav-item">
          <a class="nav-link " href="/index">Home</a>
        </li>
        <!-- NEW Dropdown for Classes -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="classesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Classes
          </a>
          <ul class="dropdown-menu" aria-labelledby="classesDropdown">
            <li><a class="dropdown-item" href="/Music">Music</a></li>
            <li><a class="dropdown-item" href="/Dance">Dance</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/News">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AboutUs">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Faculty">Faculty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact Us</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>