<div id="navbar">
    <a href="" >
        <div id="navbar-logo-container" class="navbutton">
            <img id="navbar-logo" class="icon" src="assets/logo.png" alt="">
        </div>
    </a>
    <a href="/drafts" class="drafts">
        <div class="navbutton">
            <img class="nav-icon" src="assets/folder-gray.png" alt="">
            <p class="nav-title">Drafts</p>
        </div>
    </a>
    <a href="/published" class="published">
        <div class="navbutton">
            <img class="nav-icon" src="assets/view-gray.png" alt="">
            <p class="nav-title">Published</p>
        </div>
    </a>
    <a href="/users" class="users">
        <div class="navbutton">
            <img class="nav-icon" src="assets/user-gray.png" alt="">
            <p class="nav-title">Users</p>
        </div>
    </a>
    <a href="/account" class="account">
        <div class="navbutton">
            <img class="nav-icon" src="assets/lock-gray.png" alt="">
            <p class="nav-title">Account</p>
        </div>
    </a>
    <a href="/logout" id="logout-container">
        <div class="navbutton">
            <img id="logout-icon" class="nav-icon" src="assets/logout-icon.png" alt="">
            <p class="nav-title">Log Out</p>
        </div>
    </a>
</div>