body,
html {
    margin: none;
    padding: none;
    overflow: hidden;
}

body {
    margin: none;
    width: 99vw;
    height: 99vh;
    background-image: url("../assets/login.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-container {
    width: 23%;
    height: 68%;
    background-color: white;

    font-family: Inter;
    font-size: .7em;


    border-radius: 1em;
    border: 5px solid #F4D8F5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 330px;
    max-width: 350px;
    min-height: 500px;
    max-height: 520px;
}

#logo {
    width: 60%;
}

#forms-container {
    width: 90%;
    height: 40%;
}

#forms {
    height: 100%;
}

#form-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.input-label {
    margin-bottom: .5em;
}

.input-box {
    width: 90%;
    height: 2.5em;
    border-radius: .5em;
    border: 2px solid #D9D9D9;
    padding: .1em 1em 0.1em 1em;
}

.spacing-div {
    height: 10%;
}

#login-button {
    width: 100%;
    height: 16%;
    color: white;
    border: none;
    border-radius: .5em;
    background-color: #2C2C2C;
    margin-top: .8em;
}

#forgot-password {
    width: 80%;
    margin: none;
    text-align: start;
    color: black;
    margin-top: 1em;
}