<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/drafts.css">
    
    <script src="js/navbarLogic.js" defer></script> <!-- TODO: Replace drafts with dtaft.js once fixed-->
    <script src="js/draft.js" defer></script>
    <script src="js/sortArticles.js" defer></script>
    <title>Draft Page</title>
</head>

<body>
    <div id="container">
        <%- include('../partials/navbar'); %>

        <div id="right-container">
            <div id="search-container">
                <img id="search-icon" src="assets/search-gray.png" alt="">
                <input id="search-bar" type="text" placeholder="Search for Articles...">
            </div>
            <div id="list-container">
                <div id="column-name-container">
                    <div class="date cell title">
                        Date Created
                        <img class="sort-date sort-icon clickable" data-direction="asc" src="assets/arrow-upward.png"
                            alt="">
                    </div>
                    <div class="article cell title">
                        Article Title
                        <img class="sort-title sort-icon clickable" data-direction="asc" src="assets/arrow-upward.png"
                            alt="">
                    </div>
                    <div class="status cell title">
                        Status
                        <img class="sort-status sort-icon clickable" data-direction="asc" src="assets/arrow-upward.png"
                            alt="">
                    </div>
                    <div class="spacing-div cell title">

                    </div>
                </div>  
                <div id="list-items-container" data-version="original"></div>
            </div>
            <div id="new-article-container">
                <button id="add-new-article-button" class="clickable">
                    Add Article
                </button>
            </div>
        </div>
    </div>

    <div id="modal-overlay" class="hidden">
        <div id="modal">
            <h2 id="confirmation-message">Do you want to <span id="action-container-span"></span> "<span
                    id="article-title-span"></span>"?</h2>
            <div id="confirmation-buttons-container">
                <button id="confirmation-yes" class="modal-action yes">Yes</button>
                <button id="confirmation-no" class="modal-action no">No</button>
            </div>
        </div>
    </div>
</body>

</html>