<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/drafts.css">
    <script src="js/draftActions.js" defer></script>
    <script src="js/draftSort.js" defer></script>
    <title>Draft Page</title>
</head>

<body>
    <div id="container">
        <div id="navbar">
            <a href="">
                <div id="selected" class="navbutton">
                    <img class="icon" src="assets/folder-white.png" alt="">
                </div>
            </a>
            <a href="">
                <div class="navbutton">
                    <img class="icon" src="assets/view-gray.png" alt="">
                </div>
            </a>
        </div>
        <div id="right-container">
            <div id="search-container">
                <img id="search-icon" src="assets/search-gray.png" alt="">
                <input id="search-bar" type="text" placeholder="Search for Articles...">
            </div>
            <div id="list-container">
                <div id="column-name-container">
                    <div class="date cell title">
                        Date
                        <img class="sort-date sort-icon clickable" data-direction="asc" src="assets/arrow-upward.png" alt="">
                    </div>
                    <div class="article cell title">
                        Article Title
                        <img class="sort-title sort-icon clickable" data-direction="asc" src="assets/arrow-upward.png" alt="">
                    </div>
                    <div class="status cell title">
                        Status
                        <img class="sort-status sort-icon clickable" data-direction="asc" src="assets/arrow-upward.png" alt="">
                    </div>
                    <div class="spacing-div cell title">

                    </div>
                </div>  
                <div id="list-items-container" data-version="original"></div>
            </div>
        </div>
    </div>
</body>

</html>