<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/forgot.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <script src="js/login.js" defer></script>
    <title>Password Reset Page</title>
</head>

<body>
    <div id="login-container">
        <img id="logo" src="../assets/logo.png" alt="">
        <div id="forms-container">
            <form id="forms" action="">
                <div id="form-layout">
                    <div class="field">
                        <label class="input-label" for="email">Email</label>
                        <input name="email" id="email" class="input-box" type="text" placeholder="JohnSmith@gmail.com">
                    </div>
                    <button id="login-button">Send Email</button>
                </div>
            </form>
            <p id="blurb">
                An email containing your new password will be sent to you shortly.
            </p>
        </div>
        
    </div>
    </div>
</body>

</html>